html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, address, img, ol, ul, li, article, aside, 
figure, figcaption, footer, header,
menu, nav, output, section 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

.flex {
    display: flex;
}

.container {
    max-width: 1380px;
    padding: 0 30px;
    margin: 0 auto;
}

/*header*/

.header {
    padding: 30px 0;
    background-color: #fff; 
}

.header-container {
    align-items: center;
}

.header-nav {
    margin-left: 120px;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    color: #274C5B;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.header-link:hover {
    color: #7EB693;
    transition: 0.3s;
} 

.header-cart {
    padding: 20px 30px 20px 70px;
    margin-left: auto;
    background-image: url("../images/cart.svg");
    background-size: 35%;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 40px;
    background-position: 0.6rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));    
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    cursor: pointer;
}


/*hero*/

.hero {
    padding-top: 220px;
    padding-bottom: 250px;
    background-image: url("../images/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-contant {
    flex-direction: column;
    align-items: flex-start;
}

.hero-title-preview {
    color: #7EB693;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
}

.hero-title {
    color: #274C5B;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    max-width: 496px;
    margin-top: 20px;
}

.hero-contant-btn-link {
    padding: 25px 70px 25px 33px;
    background-image: url("../images/button-line.svg");
    background-repeat: no-repeat;
    background-position: 9.4rem;
    background-color: #EFD372;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    border-radius: 20px; 
    cursor: pointer;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
    color: #274C5B;
}

/*ad-block*/

.ad-block {
    display: flex;
    padding: 140px 0;
    margin: 0;
}

.ad-block-banner-1 {
    background-image: url("../images/ad-block-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    max-width: 665px;
    margin-right: 50px;
}

.ad-block-title-preview-1 {
    padding: 105px 484px 4px 55px;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    color: #fff;
}

.ad-block-title-1 {
    padding: 0px 391px 105px 55px;
    max-width: 219px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
}

.ad-block-banner-2 {
    background-image: url("../images/ad-block-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    max-width: 665px;
}

.ad-block-title-preview-2 {
    padding: 105px 509px 4px 55px;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    color: #7EB693;
}

.ad-block-title-2 {
    padding: 0px 346px 105px 55px;
    max-width: 264px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #274C5B;
}

/*about us*/

.about-us {
    padding-top: 130px;
    padding-bottom: 130px;    
    background-color: #F9F8F8;
    margin-bottom: 120px;
}   

.about-us-preview {
    color: #7EB693;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
}

.about-us-title {
    color: #274C5B;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    max-width: 521px;
}

.about-us-descr {
    color: #525C60;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 30px;
    padding-top: 25px;
}

.option-title {
    color: #274C5B;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.option-descr {
    color: #525C60;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    max-width: 575px;
}

.about-us-option-1 {
    padding-bottom: 25px;
    padding-left: 125px;
    background-image: url("../images/about-us-icon1.svg");
    background-size: inherit;
    background-repeat: no-repeat;
}

.about-us-option-2 {
    background-image: url("../images/about-us-icon2.svg");
    background-size: inherit;
    background-repeat: no-repeat;
    padding-left: 125px;
    margin-bottom: 50px;
}
 .about-us-contant-btn-link {
    padding: 25px 70px 25px 33px;
    background-image: url("../images/button-line.svg");
    background-repeat: no-repeat;
    background-position: 8.1rem;
    background-color: #274C5B;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    border-radius: 20px; 
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #fff;
 }

/*products*/

.section-name-products {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.product-section-descr {
    color: #7EB693;
    font-weight: 400;
    font-size: 36px;
}

.product-section-title {
    color: #274C5B;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 42px;
}

.our-product-contain {
    flex-direction: column;
}

.product-item-card {
    position: relative;
    max-width: 447px;
    background-color: #F9F8F8;
    border-radius: 30px;    
    margin-bottom: 20px;    
}

.product-items {
    flex-wrap: wrap;
    justify-content: space-between;   
    margin-top: 20px; 
}


.invisible {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.product-article-item {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 20px;
    background-color: #274C5B;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    border-radius: 8px;
    color: #fff;
}

.product-item-images {
    max-width: 387px;
    max-height: 378px;
    padding: 67px 30px 30px 19px;
    margin-left: 11px;
}

.product-name {
    color: #274C5B;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 11px;
    margin-left: 30px;
    padding-bottom: 10px;
    background-image: url("../images/line-product-card.svg");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.old-price {
    margin-left: 30px;
    color: #B8B8B8;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    text-decoration: line-through;
}

.new-price {
    margin-left: 10px;
    color: #274C5B;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.product-score{
    margin-left: 81px;
}

.invisible-score {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.other-theme {
    margin-bottom: 20px;
}

.our-product-contain {
    margin-bottom: 120px;
}

/*testi*/

.testimonial {
    background-image: url("../images/testi-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.testi {
    flex-direction: column;
    padding-bottom: 140px;
}

.testi-text {
    margin-top: 130px;
    align-items: center;
    text-align: center;    
}

.testi-preview {
    color: #7EB693;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
}

.testi-title {
    color: #274C5B;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 60px;
}

.photo-score-item {
    align-items: center;
    text-align: center;
}

.score-one {
    margin-top: 20px;
}

.testi-descr {
    text-align: center;
    align-items: center;
    background-image: url("../images/line-product-card.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 60%;
}

.testi-descr-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 30px;
    margin-right: 0;
    color: #525C60;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.testi-name {
    color: #274C5B;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    padding-bottom: 5px;
}

.testi-prof {
    color: #525C60;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    padding-bottom: 96px;
}

.testi-items {
    margin-right: 168px;
    margin-left: 168px;    
    justify-content: space-between;
}

.testi-item {
    margin-top: 100px;
    width: 230px;
    height: 230px;
    background-color: #F1F1F1;    
    border-radius: 200px;
    border: 3px solid #7EB693;
    align-items: center;
    justify-content: center;
}

.testi-item-descr {
    text-align: center;
}

.testi-item-number {
    color: #274C5B;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
}

.testi-descr-shot {
    color: #274C5B;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

/*offer products*/

.product-offer-text {
    flex-direction: column;
}

.product-offer-header {
    flex-direction: row;
    padding-top: 140px;
    padding-bottom: 35px;
    justify-content: space-between;
}

.product-offer-btn-link {
    padding: 25px 70px 25px 33px;
    background-image: url("../images/button-line.svg");
    background-repeat: no-repeat;
    background-position: 13.2rem;
    background-color: #EFD372;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    border-radius: 20px; 
    cursor: pointer;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
    color: #274C5B;
    width: 267px;
    height: 82px;
}

.product-offer-descr {
    color: #7EB693;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
}

.product-offer-title {
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
}

.product-offer {
    background-color: #274C5B;    
    padding-bottom: 140px;
}

.product-offer-cards {
    flex-direction: row;
    justify-content: space-between;
}

.product-offer-btn {
    align-items: flex-end;
}


/*eco-friendly*/

.eco-friendly-main {
    flex-direction: column;
    max-width: 620px;
    border-radius: 30px;
    background-color: #fff;    
    margin: 41px 0 41px 650px;
    padding-left: 60px;
}

.eco-friendly-preview {
    padding: 42px 0 5px 0;
    color: #7EB693;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
}

.eco-friendly-title { 
    color: #274C5B;
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    padding-bottom: 31px;
}

.eco-friendly-descr-title {
    color: #274C5B;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    padding-bottom: 3px;
}

.eco-friendly-descr-descr {
    color: #525C60;
    font-weight: 400;
    font-size: 18px;    
    line-height: 32px;
}

.eco-friendly-descr {
    padding-bottom: 12px;
}

.eco-friendly-items {
    background-image: url("../images/eco-friendly-image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*ad block*/

.ad-item-descr {
    padding: 30px 82px;
    background-color: #fff;
    border-radius: 20px;
    color: #274C5B;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}

.ad-item-1 {
    background-image: url("../images/ad-1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;    
    justify-content: center;
    margin-right: 30px;   
}

.ad-item-2 {
    background-image: url("../images/ad-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;    
    justify-content: center; 
    margin-right: 30px;   
}

.ad-item-3 {
    background-image: url("../images/ad-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;    
    justify-content: center;   
}

.ad-back {
    justify-content: center;
    align-items: center;    
}

.ad-items-block {
    justify-content: center;
}

.ad-items {
    padding: 140px 0;
    background-color: #EFF6F1;
}

/*new*/

.news {
    margin: 130px 0 200px 0;
}

.news-header-text {
    flex-direction: column;
}

.news-header-descr {
    color: #7EB693;
    font-weight: 400;
    font-size: 35px;
    line-height: 65px;
}
.news-header-title{
    color: #274C5B;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    margin: 0;
    padding: 0;
}

.news-items {
    flex-direction: column;
}

.news-header-btn {
    justify-content: flex-end;
    min-width: 200px;
    margin-bottom: 50px;
}

.news-header-btn-link {
    padding: 25px 71px 25px 33px;
    background-image: url("../images/button-line.svg");
    background-repeat: no-repeat;    
    background-position: 8.5rem;
    background-color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    border-radius: 16px; 
    cursor: pointer;
    border: 1px solid #274C5B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
    color: #274C5B;
    margin-left: 65px;
}

.news-item-contant {
    flex-direction: row;
}

.news-contant {
    justify-content: center;
}

.news-card-name {
    color: #274C5B;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    flex-direction: row;    
}

.card-name {
    padding-left: 10px;
}

.news-card-title {
    color: #274C5B;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    padding: 12px 0 38px 0;
}

.news-card-descr {
    color: #525C60;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 15px;
}

.news-card-more {
    color: #274C5B;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 5em;
}

.news-card {
    flex-direction: column;
    padding: 50px;
    border-radius: 30px;
    background-color: #fff;
}

.card-item-1 {
    max-width: 670px;
    max-height: 515px;
    background-image: url("../images/back-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;    
}

.news-card {
    margin: 250px 30px 0 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.card-item-2 {
    max-width: 670px;
    max-height: 515px;
    background-image: url("../images/back-2.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

/*form*/

.form-email-content {
    background-image: url("../images/form-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
}

.form-email-title {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    padding: 100px 0 100px 70px;
}

.form-email-wrap {
    margin: 55px 0 110px 0;
}

.form-email-content {
    align-items: center;
}

.form-send {
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 26px 101px 26px 30px;
    margin-left: 350px;
}

.form-button {
    padding: 22px 70px 22px 33px;
    background-image: url("../images/button-line.svg");
    background-repeat: no-repeat;
    background-position: 8.1rem;
    background-color: #274C5B;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    border-radius: 20px; 
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #fff;
    margin-left: 10px;
}

*:focus {
    outline: none;
}
